div.city_block {
	text-align: left;
	width:100%;
	}

div.city_block section {
	/*display: inline-block; -> no me ha funcionado*/
	float: left;
	width: 48%;
	vertical-align:top;
	margin-right: 2%;
	box-sizing: border-box; /* ensures padding doesn't break width */
	font-family: 'Times New Roman'; 
	}

div.city_block section img {
	width:100%;
	height: auto;
	display: block;
}

div.city_block section h2 {
	text-align: center;
	background-color:#FFF7D4;
	color:black;
}

table {
	border-collapse: collapse;
}

table th {
	text-align: left; /* el default es que esté en 'center' */
	background-color: #FFF7D4;
	color: #333;
	padding-left: 10px;
	border: 1px solid #C98B96;
}

table td {
	padding: 5px; /* espacio entre filas */
	padding-left: 10px;
	padding-right: 30px;
	border: 1px solid #C98B96;
}

ul li {
	margin: 10px;
}

.yes_button {
	border:none;
	background-color: #D43B7B;
	color: white;
	text-align: center;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
}
.no_button {
	border:none;
	background-color: #EDD03E;
	color: white;
	text-align: center;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
}