
@font-face {
  font-family: ZT-font;
  src: url('../fonts/ZTNature-Thin.ttf');
}

@font-face {
  font-family: ZT-medium-font;
  src: url('../fonts/ZTNature-Medium.ttf');
}

body {
  background-color: black;
  color:aliceblue;
  font-family: ZT-font;
  letter-spacing: 1px;
  margin-left: 1%;
  margin-right: 1%;
}

nav {
    background-color: #202020c1;
    /* padding: 8px 0; espacio entre los elementos de la navbar y el recuadro  */
    margin-left: -1%;
    margin-right: -1%;
    padding: 8px 1%;   /* keeps text aligned with the rest */
  }
  
  .navbar {
    list-style: none; /* me quita los puntos de los elementos*/
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 30px;               /* space between items */

  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    display: block;          /* makes the whole area clickable */
  }
  
  .navbar li a:hover {
    background-color: #333333;
    color: wheat;
    border-radius: 6px;     /*redondea los bordes when hovering*/
  }

  .hero {
    position: relative;
    text-align: right;
  }
  
  .hero h1 {
    position: absolute;
    /* top: 0%;       distance from top of image */
    left: 30%;     /*  distance from left of image*/
    right: 1%;
    margin: 0;
    font-size: 7vw;
    font-family: ZT-medium-font;
    color: white;
    z-index: 4;
    text-align: right;
  }
  
  .hero p {
    text-align: left;    
    margin-top: 20px;     /* space below image */
  }
  
  .hero-image {
    width: 100%;
    height: auto; /*se adapta al resto de la pagina (si fuese 100vh se estiraria hasta rellenar la pagina*/
    display: block; /*evitamos espacios debajo de la imagen*/
  }

  footer {
    color:wheat;
    text-align: right;
    background-color: #202020c1;

    margin-left: -1%;
    margin-right: -1%;
    padding: 8px 1%;   /* keeps text aligned with the rest */
  }
  